body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../public/close-up-white-marble-textured-wall.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
}

.card {
  border: none;
  border-radius: 20px;
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

input, select {
  border-radius: 12px !important;
}

.resultado {
  font-size: 1.3rem;
  font-weight: bold;
}

